/* local fonts imported from google-fonts-web-helper */
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('assets/outfit-v15-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('assets/outfit-v15-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('assets/outfit-v15-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('assets/outfit-v15-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* custom variables */
:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --attribution-anchor: hsl(228, 45%, 44%);
    --font-size-large: 1.2rem;
    --font-size-medium: 0.875rem;
    --font-size-small: 0.50rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --border-radius-normal: 1.50rem;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: var(--border-radius-normal);
    margin-bottom: 1rem;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--slate-300);
}

p {
    font-family: "Outfit", "san-serif";
    text-align: center;
    margin-bottom: 0.75rem;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 1rem;
    text-align: center;
}

    footer p {
        display: inline-block;
        text-align: center;
        font-size: var(--font-size-small);
    }

    footer a {
        color: var(--attribution-anchor);
    }


.qr-frontendmentor-home {
    width: 18rem;
    height: 28rem;
    background-color: var(--white);
    padding: 0.75rem;
    border-radius: var(--border-radius-normal);
    /*fallack box-shadow property for older browsers*/
    -webkit-box-shadow: 2px 9px 15px 1px rgba(0,0,0,0.12); 
    box-shadow: 2px 9px 15px 1px rgba(0,0,0,0.12);
}

.text-container {
    padding: 0 1.2rem;
}

    .text-container p:nth-child(1) {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-large);
        color: var(--slate-900);
    }

    .text-container p:nth-child(2) {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-medium);
        color: var(--slate-500);
    }

/* desktop (min 1440px) */
@media (min-width: 1440px) {

    .qr-frontendmentor-home {
        width: 36rem;
        height: 54rem;
        padding: 1.5rem;
    }

    .text-container p:nth-child(1) {
        font-size: 2.4rem;
    }

    .text-container p:nth-child(2) {
        font-size: 1.75rem;
    }

    footer p {
        font-size: 1rem;
    }
}